@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body¨{
    font-family: 'Bebas Neue', sans-serif; 
    background-color: #09080d;

}

p{
    font-family: Arial, Helvetica, sans-serif;

}

container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)),
        url(imagenes/belleza.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;    
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    color: #fffdfc;
    font-size: 25px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #fffdfc;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #879758;

}
#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    width: 50%;
}

.header-txt h1{
    font-size: 105px;
    line-height: 110px;
    color: #f2eeed;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 5px;

}
.btn-1{
    display: inline-block;
    padding: 11px 45px;
    background-color: #879758;
    color: #fefcfb;
    border-radius: 25px;
    font-size: 22px;
}

.btn-1:hover{
    background-color: #879758;
    

}

.direction{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.direction p {
    color: #e31188;
    font-size: 16px;

}

.about{

    padding: 100px 0;
    display: flex;

}

.about-txt{
    width: 50%;

}

.about-img{
    width: 50%;
}

.about-img img{
    width: 450px;

}
 h2{
    font-size: 70px;
    color: #fd078a;
    margin-bottom: 15px;

 }

 .about-txt p{
    font-size: 16px;
    color: #e7118a;
    margin-bottom: 35px;

 }

 .information{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

 }

 .information-1{
    display: flex;
    align-items: center;

 }

 .information-1 h3{
    font-size: 70px;
    color: #e7118a;

 }
 .information-1 p{
    font-size: 16px;
    color: rgb(14, 15, 15);
    margin-left: 15px;
 }

 .house {
    display: flex;
    justify-content: space-between;
 }

 .house-1 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(imagenes/logi.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        padding: 25px;
 }

 .house-2 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(imagenes/i2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        padding: 25px;
 }
 .house-3 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(imagenes/i3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        padding: 25px;
 }
 .house-4 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(imagenes/i4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        padding: 25px;
 }

 .txt {
    position: relative;

 }

 .txt span {
    color: #879758;
    font-size: 35px;
 }
 .txt h3 {
    color: #ede8eb;
    font-size: 35px;
 }

 .txt p{
    font-size: 16px;
    color: #f0f0f4;
    position: absolute;
    top: 400px;
    left: 0;
    rotate: 270deg;
 }

 .footer {
    padding: 100px 0 0 0;

 }

 .footer-content{
    display: flex;
 }

 .footer-form {
    width: 50%;
 }

 .footer-txt {
    width: 50%;
 }

 form{
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-left: 200px;

 }

 .campo¨{
    border: #201f23;
    padding: 17px 35px;
    outline: none;
    color: #e31188;
    border: 0;
    margin-bottom: 10px;
 }

 .campo::placeholder {
    color: #e7118a;

 }

 .btn-2{
    padding: 17px 35px;
    border: 2px solid #dcf30c;
    background-color: #dcf30c;
    color: #e31188;
    border-radius: 25px;
    text-transform: uppercase;
 }
 .footer-txt h3{
    color: #e31188;
    font-size: 35px;
    margin: 0 100px 20px 0;
 }

 .footer-txt p{
    margin-bottom: 25px;
    font-size: 18px;
    color: #030303;

 }
 .footer-2 p{
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
    color: #0f0e0e;
 }

 @media(max-width:991px){
    .menu {
        padding: 30px;

    }
    .menu label {
        display: initial;

    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #7c0bed;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header{
        min-height: 0vh;

    }
    .header-content {
        padding: 100px 30px;
    }
    .header-txt {
        width: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
        line-height: 80px;
        
    }
 }





